---
import { useTranslations, type Lang } from "@/i18n";
const t = useTranslations(Astro.currentLocale as Lang);
import ngLogo from "@/assets/ng_logo.png";
import { Image } from "astro:assets";
---

<footer class="l-footer">
  <a href="https://ko-fi.com/S6S61VONCV" target="_blank" class="github">
    <img
      height="36"
      style="border:0px;height:36px;"
      src="https://storage.ko-fi.com/cdn/kofi2.png?v=6"
      alt="Buy Me a Coffee at ko-fi.com"
    />
  </a>

  <div class="also-on">
    Find it also on
    <ul>
      <a href="https://pinkskull.newgrounds.com/" target="_blank">
        <Image src={ngLogo} alt="Newgrounds" />
      </a>
    </ul>
  </div>

  <a class="copy" href="https://thanniab.github.io/" target="_blank" dir="ltr">
    © Thannia Blanchet {new Date().getFullYear()}.
  </a>

  <p>
    <em>
      {
        t({
          es: "No hubo uso de IA generativa en la creación de este cómic. El sitio web fue copiado y modificado de una plantilla de Astro y no sabemos cómo lo hizo el autor original.",
          en: "No use of generative AI was involved in the making of this comic. Website was made from an Astro template so we can't vouch for how that was created.",
        })
      }
    </em>
  </p>
</footer>

<style>
  footer {
    padding-block: var(--sp-m) var(--sp-l);
    text-align: center;
    background-color: var(--color-theme);
    color: var(--color-base);
  }

  .github {
    display: block;
    margin-block-start: calc(var(--sp-m) * -1 - 24px);
    margin-inline: auto;
    width: 160px;
    height: 48px;
    border-radius: 100px;
  }

  .also-on {
    margin-block-start: var(--sp-m);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-inline-start: var(--sp-xs);
      margin-block-start: var(--sp-xs);
      max-width: 24px;
    }
  }

  .copy {
    display: block;
    margin-block-start: var(--sp-s);
    opacity: 0.8;
    letter-spacing: 0.05em;
  }
</style>
