---
import { LOCALES, useTranslations, type Lang } from "@/i18n";
import Layout from "@/layouts/Base.astro";
import { getCollection } from "astro:content";
import PageHeadline from "@/components/PageHeadline.astro";

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

const posts = (await getCollection("blog"))
  .filter((post) => post.id.split("/")[0] === locale)
  .sort((a, b) => b.data.chapterNumber - a.data.chapterNumber);

const title = t({
  es: "Lista de Capítulos",
  en: "Chapter List",
});

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));
---

<Layout {title}>
  <PageHeadline {title} />
  <ul>
    {
      posts.map((post) => {
        const [, ...id] = post.id.split("/");
        return (
          <li>
            <a href={`/${locale}/blog/${id.join("/")}/`}>
              <h2>{post.data.title}</h2>
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>

<style>
  ul {
    max-width: 800px;
    margin: var(--sp-s) auto;
  }
</style>
